body {
}

.form-label {
    text-align: left !important;
    
}

#EventList tr td a {
    color: black;
}

#event-table {
    color: black;
}

#event-table tr td{
    color: black;
}

#event-table tr td a{
    color: black;
}

.card {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    overflow-y: scroll;
}

.noscroll::-webkit-scrollbar {
    display: none;
}