@page
@model DWBooking.Pages.Admin.Events.DeleteEventModel
@{
}

<h1>Delete Confirmation</h1>
<div class="alert alert-danger">
    <h5>Are you sure you want to delete Item - @Model.Event.Name</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" asp-page="/Event/GetAllEvents">No</a>
    </form>
</div>